<nav class="menu">
    <a class="menu-item" href="/">Accueil</a>
    <a class="menu-item" href="/fruits">Fruits</a>
    <a class="menu-item" href="/legumes">Légumes</a>
    <a class="menu-btn btn" href="/about">A propos</a>
</nav>