<%- include ('partials/header') %>

<main class="page-content page-content--mono">
    <h1 class="page-title">A propos</h1>
    <div class="page-main">
        <section class="segment">
            <h2 class="segment-title">L'histoire du Chouette Maraîcher</h2>
            <div class="richtext">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In itaque suscipit odit reiciendis!
                    Repellendus, consequatur recusandae sed doloribus labore molestiae distinctio ullam neque optio!
                    Totam quam consectetur corrupti officia ipsa?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas fugit tenetur in soluta aperiam
                    suscipit, tempore vero iure assumenda temporibus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ducimus facere officiis aperiam eveniet
                    laboriosam itaque nesciunt excepturi harum sapiente eligendi aliquid, accusamus sed quod quo
                    delectus facilis tenetur tempora, reiciendis voluptas porro adipisci dolorum. Quas, provident ea.
                    Aut, optio.</p>
            </div>
        </section>
        <section class="segment">
            <h2 class="segment-title">Une grande famille</h2>
            <div class="richtext">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In itaque suscipit odit reiciendis!
                    Repellendus, consequatur recusandae sed doloribus labore molestiae distinctio ullam neque optio!
                    Totam quam consectetur corrupti officia ipsa?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas fugit tenetur in soluta aperiam
                    suscipit, tempore vero iure assumenda temporibus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ducimus facere officiis aperiam eveniet
                    laboriosam itaque nesciunt excepturi harum sapiente eligendi aliquid, accusamus sed quod quo
                    delectus facilis tenetur tempora, reiciendis voluptas porro adipisci dolorum. Quas, provident ea.
                    Aut, optio.</p>
            </div>
        </section>
        <aside class="segment">
            <h2 class="segment-title">Votre Maraîcher partout en France</h2>
            <p class="segment-desc">Retrouvez nos boutiques aux quatre coins de l'hexagone.</p>
<%-include('partials/villes')%>    
        </aside>
    </div>
</main>
<%- include('partials/footer') %>